body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  margin: 20px auto;
  width: 90%;
}
nav ul, footer ul {
  padding: 0px;
  list-style: none;
  font-weight: bold;
}
nav ul li, footer ul li {
  display: inline;
  margin-right: 20px;
}
a {
  text-decoration: none;
  color: #999;
}
a:hover {
  text-decoration: underline;
}
h1 {
  font-size: 3em;
}
h1,h2,h3 {
  font-family: 'Rubik', sans-serif;
  font-weight: normal;
}
p {
  line-height: 1.4em;
  color: #333;
}
footer {
  border-top: 1px solid #e5e5e5;
  font-size: .8em;
}

ul.posts {
  margin: 20px auto 40px;
}
ul.posts li {
  list-style: none;
}

.title {
}
.title h1 {

}

.blurb {
}
.portrait {
  display: inline-block;
  border-radius: 100%;
  width: 46%;
  max-width: 400px;
}
.text {
  display: inline-block;
  width: 46%;
  vertical-align: top;
  padding: 0 4% 0 0
}

.meta {
  margin-top: -1.4em;
  padding-bottom: 1.4em;
  font-size: 80%;
  border-bottom: 1px solid #e5e5e5;
}

/* Desktop Screen */

@media (min-width: 750px) {

  body {
    font-size: 18px;
    margin: 60px auto;
    width: 70%;
  }
  .nowrap {
    white-space: nowrap;
  }
}

/* Quotes */

blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: #7a7a7a;
  border-left: .25rem solid #e5e5e5;
}
blockquote p:last-child {
  margin-bottom: 0;
}
@media (min-width: 30em) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

/* Tables */

table {
  margin-bottom: 1rem;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
  overflow: auto;
}
td,
th {
  padding: .25em 1em;
  border: 1px solid #e5e5e5;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

/*   Code Formatting    */

code, pre {
  font-family: Menlo, Consolas, monospace
}
code {
  padding: .25em .5em;
  font-size: 85%;
  /*color: #bf616a;*/
  /*background: darken(#261e16, 7.5%);*/
  background-color: #f9f9f9;
  border-radius: 6px;
}
pre {
  display: block;
  overflow: auto;
  margin: 0 0 14px;
  padding: 15px 20px;
  font-size: 100%;
  line-height: 1.4;
  background-color: #f9f9f9;
  border-radius: 12px;
  border: 1px solid #e5e5e5;
}
pre code {
  padding: 0;
  font-size: 100%;
  /* color: inherit;*/
  /* background-color: transparent;*/
}
.highlight {
  margin-bottom: 15px;
}
.highlight pre {
  margin-bottom: 0;
}
