<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<!-- link to main stylesheet -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,300i,700,700i|Roboto:900" rel="stylesheet">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.1.1/katex.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.1.1/katex.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>

<nav>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/#projects">Projects</a></li>
		<li><a href="/blog">Blog</a></li>
		<li><a href="#contact">Contact</a></li>
	</ul>
</nav>

<div class="container">

{{ content }}

</div><!-- /.container -->

<footer>
	<div id="contact">
		<div class="contact-info">
			<h2>David Aaron Pierce</h2>
			<p>Seattle</p>
		</div>
		<div class="contact-links">
			<ul>
				<li><a href="mailto:hi@davidaaronpierce.com"><i class="fa fa-envelope" aria-hidden="true"></i> email</a></li>
				<li><a href="https://github.com/dapierce"><i class="fa fa-github" aria-hidden="true"></i> github</a></li>
				<li><a href="https://twitter.com/da_pierce"><i class="fa fa-twitter" aria-hidden="true"></i> twitter</a></li>
				<li><a href="http://www.linkedin.com/in/piercedavid/"><i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn</a></li>
				<!-- <li><a href="/assets/DavidAaronPierceResume.pdf"><i class="fa fa-file" aria-hidden="true"></i> resume</a> -->
			</ul>
		</div>
	</div>
</footer>

<script>
	$("script[type='math/tex']").replaceWith(
	  function(){
	    var tex = $(this).text();
	    return "<span class=\"inline-equation\">" +
	           katex.renderToString(tex) +
	           "</span>";
	});

	$("script[type='math/tex; mode=display']").replaceWith(
	  function(){
	    var tex = $(this).text();
	    return "<div class=\"equation\">" +
	           katex.renderToString("\\displaystyle "+tex) +
	           "</div>";
	});
</script>
</body>
</html>
