<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }}</title>
	<!-- link to main stylesheet -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/syntax.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,300i,700,700i|Roboto:900" rel="stylesheet">
</head>

<body>

<nav>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/#projects">Projects</a></li>
		<li><a href="/blog">Blog</a></li>
	</ul>
</nav>

<div class="container">

{{ content }}

</div><!-- /.container -->

<footer>
	<ul>
		<li><a href="mailto:davidaaronpierce@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i> email</a></li>
		<!-- <li><a href="/assets/DavidAaronPierceResume.pdf"><i class="fa fa-file" aria-hidden="true"></i> resume</a> -->
		<li><a href="http://www.linkedin.com/in/piercedavid/"><i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn</li>
		<li><a href="https://github.com/dapierce"><i class="fa fa-github" aria-hidden="true"></i> github.com/dapierce</a></li>
	</ul>
</footer>

</body>
</html>
